@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.content img {
  width: 90%;
}

.content h2 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px 0 30px;
  color: #888;
}

.content p {
  text-align: center;
  width: 600px;
  letter-spacing: 1px;
  color: #888;
  margin: 30px 0;
}

.content h3 {
  text-align: center;
  width: 100%;
  color: #888;
  margin: 30px 0 10px;
}

.content h3 a {
  color: #888;
  text-decoration: none;
}

.shopify-link {
  text-align: center;
}

.shopify-link img {
  width: 50%;
}

@media only screen and (min-width: 600px) {
  .content img {
    width: 50%;
  }

  .content p {
    width: 90%;
  }

  .shopify-link img {
    width: 300px;
  }
}

